body {
    height: auto;
    width: 100vw;
    background-color: rgba(140, 224, 158, 0.584);
    margin: 0;
    box-sizing: border-box;
}

main {
    /* margin-top: 3rem; */
    margin: 0 auto;
    width: fit-content;
    max-width: 1600px;
    height: fit-content;
    background-color: #fefefe;
    padding-bottom: 10px;
    box-shadow: 10px 10px 50px black;
    border-radius: 15px;
}

h1 {
    text-align: center;
}

.button {
    display: inline-block;
    margin: 5px;
    padding: 5px;
    border-radius: 1rem;
    width: fit-content;
    height: 3rem;
    background-color: green;
    color: white;
    line-height: 3rem;
    text-decoration: none;
    font-size: 1.2rem;
    transition: .7s linear;
    border: 2px solid black;
}

.button:hover {
    background-color: rgb(1, 184, 1);
    color: black;
    padding: 6px;
    font-size: 1.5rem;
    border: 2px solid white;
    box-shadow: 10px 10px 20px black;
}

table {
    width: 100%;
    overflow: auto;
    table-layout: fixed;
}

th,
td {
    text-align: left;
    vertical-align: top;
    border: .1rem rgba(128, 128, 128, 0.263) solid;
    word-wrap: break-word;
}

form {
    width: fit-content;
    margin: 5px;
    background-color: #d8d8d8;
    border-radius: 4px;
}

#insertbtn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
    padding: 5px;
    border-radius: 1rem;
    width: fit-content;
    height: 3.8rem;
    background-color: green;
    color: white;
    line-height: 3.8rem;
    text-decoration: none;
    font-size: 1.2rem;
    transition: .7s linear;
    border: 2px solid black;
}

#insertbtn:hover {
    background-color: rgb(1, 184, 1);
    color: black;
    padding: 6px;
    font-size: 1.5rem;
    border: 2px solid white;
    box-shadow: 10px 10px 20px black;
}


fieldset {
    border-radius: 5px;
}

input {
    margin-bottom: 5px;
    display: block;
}

#courseCode,
#progression {
    width: 5ch;
}

#courseName,
#syllabus {
    width: 50ch;
}

@media screen and (max-width: 700px) {
    
    main {
        width: 96%;
        margin: 20px auto 0;
        overflow: hidden;
        height: fit-content;    
        overflow: auto;
    }

    table {
        width: 98%;
    }

    #courseName,
    #syllabus {
        width: 90%;
    }

    form {
        width: 98%;       
    }
}